<div>
  <div class="bg-[url('/herosection-headermain.webp')] bg-center bg-no-repeat bg-cover">
    <div class="flex items-center" style="width: 85%;margin: auto;">
      <div>
        <h2 class="global-partnertext">
          Your Global Partner for Printing & Packaging Machines
        </h2>
        <p class="filling-industrytext mb-8">
          As PP LION we buy, overhaul, clean and sell used machines from the printing and packaging industry and
          machinery
          from the filling industry.
        </p>
        <div class="flex items-center gap-3">
          <div>
            <a href="" class="vewall-machinebutton">
              Our Machines
            </a>
          </div>
          <div>
            <a href="" class="submit-machinebutton">
              Submit your Machine
            </a>
          </div>

        </div>
      </div>
      <div style="width: 100%;">
        <img [src]="carouselImages[currentImage]" alt="Machine Image"
          class="w-full h-auto object-cover transition-all duration-700" style="padding: 30px 0px;" />
      </div>
    </div>

  </div>
</div>

<h2 class="new-arrivalstext text-center" style="margin-top: 3rem;">New Arrivals</h2>

<div class="grid grid-cols-3 gap-6" style="width: 85%;margin: auto;margin-top: 3rem;margin-bottom: 3rem;">
  <div *ngFor="let machine of randomMachines" class="cardsection-alignment">
    <div class="alignment-imagetext">
      <a [routerLink]="['/machine-details']" [queryParams]="{ id: machine.referenceId }">
        <img [src]="machine.images[0]" [alt]="machine.name" class="card-image">
      </a>
    </div>
    <div class="alignment-carddetails">
      <a [routerLink]="['/machine-details']" [queryParams]="{ id: machine.referenceId }" class="productlink-name">{{ machine.name }}</a>
      <p class="establishes-year"><span class="font-semibold">Year:</span> {{ machine.year }}</p>
      <p class="establishes-year"><span class="font-semibold">Size:</span> {{ machine.maxSize }}</p>
<a [routerLink]="['/machine-details']" [queryParams]="{ id: machine.referenceId }" class="card-detailsbutton">Details</a>
    </div>
  </div>
</div>


<div class="text-center">
  <a href="" class="vewall-machinebutton">
    View all Machines
  </a>
</div>






<div class="flex w-[85%] mx-auto gap-8 mt-24 mb-16 items-stretch" >
  <div class="flex items-center">
    <div style="width:100%">
      <div>
        <img src="/pipeline-plantsolutionimage.webp" alt="" style="border-radius: 8px 8px 8px 8px;  vertical-align: middle;
        display: inline-block;" class="rounded-lg w-full object-cover">
      </div>
    </div>

   
  </div>

  <div style="width: 100%;" class="flex flex-wrap">
    <h3 class="complete-solutiontext">
      Complete plant solutions with second-hand machines
    </h3>
    <p class="solutionexplain-paratext">
      We offer you an all-round service around buying and selling machines of the printing, packaging, and filling
      industry. Share the product information and let us do the rest.
    </p>
    <p class="solutionexplain-paratext">
      Why second-hand machines? – In addition to price arguments, used machines provide various advantages compared to
      new
      machines. They have a short delivery time and initial problems are already solved leading to an efficient
      production
      rate and less downtime.
    </p>
    <p class="solutionexplain-paratext">
      We are aware of the importance and costs of each operation and strive to give you the best experience in upgrading
      your plant. Therefore, we are glad to assist you through the whole operation. With our team, we are able to offer
      you the disassembly, the assembly, the loading and the transport.
    </p>
    <div class="flex gap-3">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#C01010"
          class="size-10 transition-transform duration-300  hover:-translate-y-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75
                   M21 12a9 9 0 1 1-18 0
                   9 9 0 0 1 18 0Z" />
        </svg>

        
      </div>
      <div>
        <h3 class="listitem-headingtext">
          Did you find a machine fitting to your product desire?
        </h3>
        <p class="solutionexplain-paratext">
          If you have any questions about our products or services, please contact us non-bindingly and our sales team
          will
          get in touch with you.
        </p>
      </div>
    </div>
    <div class="flex gap-3">
      <div>
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#C01010"
          class="size-10 transition-transform duration-300  hover:-translate-y-3">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75
                   M21 12a9 9 0 1 1-18 0
                   9 9 0 0 1 18 0Z" />
        </svg>
    
      </div>
      <div>
        <h3 class="listitem-headingtext">
          Couldn't you find the machine on our website?
        </h3>
        <p class="solutionexplain-paratext">
          If we do not have the machine in our portfolio, our network enables us to find it anyway. We are eager to hear
          from you!
        </p>
      </div>
    </div>
    <div>
      <a href="" class="contantus-button">
        Contact us
      </a>
    </div>

  </div>
</div>

<app-footer></app-footer>

