<footer class="bg-[#2B3044] text-white pt-12 pb-8 px-6">
    <div class="grid grid-cols-3 gap-4 w-[80%] mx-auto pb-8">
        <div class="flex gap-4 flex-col">
            <div class="flex items-center gap-8 mb-4">
                <div>
                    <a href='https://www.facebook.com/pplionmachinery/'
                        class="flex items-center gap-1 cursor-pointer transform transition-transform duration-500 ease-in-out hover:-translate-y-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="size-4 gray-brand hover:brand-gray-hover cursor-pointer">
                            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12
                                    c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47
                                    h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669
                                    1.312 0 2.686.235 2.686.235v2.953H15.83
                                    c-1.491 0-1.956.925-1.956 1.874v2.25h3.328
                                    l-.532 3.47h-2.796v8.385C19.612 23.027
                                    24 18.062 24 12.073z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href='https://www.instagram.com/ppliongmbh/'
                        class="flex items-center gap-1 cursor-pointer transform transition-transform duration-500 ease-in-out hover:-translate-y-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"
                            class="size-5 gray-brand hover:brand-gray-hover cursor-pointer">
                            <path
                                d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z" />
                            <path
                                d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href='https://www.youtube.com/channel/UCH3KcUrWqD7oyJbSuWdWQvw'
                        class="flex items-center gap-1 cursor-pointer transform transition-transform duration-500 ease-in-out hover:-translate-y-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 461.001 461.001" fill="currentColor"
                            class="size-5 gray-brand hover:brand-gray-hover cursor-pointer">
                            <path
                                d="M365.257 67.393H95.744C42.866 67.393 0 110.259 0 163.137v134.728c0 52.878 42.866 95.744 95.744 95.744h269.513c52.878 0 95.744-42.866 95.744-95.744V163.137c0-52.878-42.866-95.744-95.744-95.744zM300.506 237.056l-126.06 60.123c-3.359 1.602-7.239-0.847-7.239-4.568V168.607c0-3.774 3.982-6.22 7.348-4.514l126.06 63.881c3.748 1.899 3.683 7.274-0.109 9.082z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href='https://www.linkedin.com/company/ppliongmbh/'
                        class="flex items-center gap-1 cursor-pointer transform transition-transform duration-500 ease-in-out hover:-translate-y-3">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="size-5 gray-brand hover:brand-gray-hover cursor-pointer">
                            <path
                                d="M18.72 4H5.37c-.172-.008-.344.018-.506.076a1.17 1.17 0 0 0-.438.265 1.16 1.16 0 0 0-.303.412c-.073.156-.115.325-.123.497V18.63c.01.36.158.703.413.958.255.255.598.403.958.412H18.72c.35-.016.68-.168.919-.424.239-.256.368-.595.36-.945V5.25c.003-.167-.028-.334-.092-.489a1.162 1.162 0 0 0-.278-.412 1.17 1.17 0 0 0-.419-.268 1.167 1.167 0 0 0-.49-.081zM9 17.34H6.67V10.21H9v7.13zM7.89 9.13a1.238 1.238 0 0 1-1.221-1.23 1.24 1.24 0 0 1 1.23-1.23c.325-.006.639.12.872.343.234.223.37.528.379.851a1.24 1.24 0 0 1-1.26 1.266zm9.45 8.21H15v-3.9c0-.93-.33-1.57-1.16-1.57-.258.002-.509.084-.718.234a1.24 1.24 0 0 0-.452.606 1.62 1.62 0 0 0-.08.57v4.06h-2.3V10.21h2.3v1c.205-.376.509-.688.88-.901.371-.213.793-.32 1.221-.308 1.51 0 2.65 1 2.65 3.13v4.21z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href='https://wa.link/5d6mqu'
                        class="flex items-center gap-1 cursor-pointer transform transition-transform duration-500 ease-in-out hover:-translate-y-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24" class="size-4 gray-brand hover:brand-gray-hover">
                            <path
                                d="M20.52 3.48A11.89 11.89 0 0 0 12 0C5.37 0 .02 5.34.02 11.94c0 2.1.55 4.15 1.6 5.96L0 24l6.27-1.6a11.93 11.93 0 0 0 5.73 1.46h.01c6.63 0 12-5.36 12-11.94 0-3.19-1.24-6.19-3.48-8.44zM12 21.82h-.01a9.9 9.9 0 0 1-5.04-1.37l-.36-.21-3.72.95.99-3.63-.24-.37a9.9 9.9 0 0 1-1.55-5.3C2.07 6.43 6.54 2 12 2c2.64 0 5.13 1.03 7 2.91 1.87 1.88 2.91 4.38 2.91 7.03 0 5.44-4.46 9.88-9.91 9.88z" />
                            <path
                                d="M17.56 14.33c-.29-.15-1.72-.85-1.99-.94-.27-.1-.47-.15-.66.15-.2.3-.76.94-.93 1.13-.17.2-.34.22-.63.07-.29-.15-1.21-.44-2.3-1.4-.85-.75-1.42-1.68-1.59-1.97-.17-.3-.02-.46.13-.61.13-.13.29-.34.44-.51.15-.17.2-.29.3-.49.1-.2.05-.37-.02-.52-.07-.15-.66-1.59-.91-2.18-.24-.58-.48-.5-.66-.51h-.56c-.2 0-.52.07-.79.37-.27.3-1.04 1.02-1.04 2.49 0 1.46 1.07 2.87 1.22 3.07.15.2 2.1 3.21 5.1 4.5.71.31 1.26.5 1.69.64.71.23 1.36.2 1.87.12.57-.09 1.72-.7 1.96-1.37.24-.67.24-1.25.17-1.37-.07-.12-.26-.2-.55-.35z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div>
                <ul class="alignment-listitem">
                    <li>
                        <a href="" class="footer-buttons">
                            Imprint
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-buttons">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-buttons">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p class="mb-6" style="font-size: 20px;">
                Contact
            </p>
            <ul>
                <li class="mb-2">
                    <a href="" class="footer-buttons  flex items-start gap-2 cursor-pointer group">
                        <span>

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-5 text-brand-gray group-hover:text-brand-gray-hover">
                                <path fill-rule="evenodd"
                                    d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        <p>
                            PP LION GmbH <br>
                            Hugo-Eckener-Str. 29 <br>
                            50829 Köln / Germany
                        </p>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="" class="footer-buttons flex items-center gap-3 cursor-pointer group">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-4 text-brand-gray group-hover:text-brand-gray-hover">
                                <path fill-rule="evenodd"
                                    d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        <p>
                            +49 (0) 221 5894016
                        </p>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="" class="footer-buttons flex items-center gap-3 cursor-pointer group">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-5 text-brand-gray group-hover:text-brand-gray-hover">
                                <path
                                    d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                                <path
                                    d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                            </svg>
                        </span>
                        <p>
                            lion@pplion.com
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p class="mb-6" style="font-size: 20px;">
                Newsletter
            </p>
            <ul>
                <li class="footer-signuptext">
                    Sign up here for our newsletter <br>
                    and don’t miss any machine offers!
                </li>
                <li>
                    <button  class="footer-signupbutton cursor-pointer" (click)="openModal()" >
                        Sign Up
                    </button>
                </li>

            </ul>

        </div>
    </div>
    <div class="border-t-2 border-[#BBBEC71F] w-[85%] mx-auto">
        <div class="footer-bottomtext">
            PP Lion GmbH © Webdesign & Online Marketing aus einer Hand | <a href="">qlu-media.de</a>
        </div>
    </div>
</footer>


<div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-12 rounded-lg w-[50%] shadow-lg relative">
        <button (click)="closeModal()" class="absolute top-4 right-4 cursor-pointer text-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        
        </button>
        <div>
            <h2 class="text-gray-800 text-4xl font-extrabold leading-tight">
                Sign Up for our Newsletter
            </h2>
            <p class="text-xs text-gray-600 font-normal mb-3 mt-5">
                Please fill in the form below.
            </p>

            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="space-y-4">
                <div class="flex gap-5">
                    <div class="w-[100%]">
                        <label class="block  mb-1">Name*</label>
                        <input type="text" name="name" [(ngModel)]="contactFormData.name" required
                            placeholder="Enter your Name"
                            class="w-full placeholder:text-brand-gray shadow bg-brand-inputfield rounded p-3 focus:outline-none" />
                    </div>
                    <div class="w-[100%]">
                        <label class="block  mb-1">E-Mail*</label>
                        <input type="email" name="email" [(ngModel)]="contactFormData.email" required
                            placeholder="Enter your E-Mail"
                            class="w-full placeholder:text-brand-gray shadow bg-brand-inputfield rounded p-3 focus:outline-none " />
                    </div>
                </div>

                <div class="flex gap-5">
                    <div class="w-[100%]">
                        <label class="block  mb-1">Phone Number*</label>
                        <input type="text" name="phone" [(ngModel)]="contactFormData.phone" required
                            placeholder="Enter your Phone Number"
                            class="w-full placeholder:text-brand-gray shadow bg-brand-inputfield rounded p-3 focus:outline-none " />
                    </div>

                    <div class="w-[100%]">
                        <label class="block mb-1">Company*</label>
                        <input type="text" name="company" [(ngModel)]="contactFormData.company" required
                            placeholder="Enter your Company"
                            class="w-full placeholder:text-brand-gray shadow bg-brand-inputfield rounded p-3 focus:outline-none " />
                    </div>
                </div>


                <div>
                    <p class="mb-2">Are you a Dealer or Enduser?*</p>
                    <div class="flex items-center gap-8"><label>
                            <div class="flex items-center">
                                <input type="radio" name="userType" value="dealer"
                                    [(ngModel)]="contactFormData.userType" required />
                                <p class="pl-2">Dealer</p>
                            </div>
                        </label>
                        <label>
                            <div class="flex items-center">
                                <input type="radio" name="userType" value="endUser"
                                    [(ngModel)]="contactFormData.userType" required />
                                <p class="pl-2">End User</p>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="flex items-center">
                    <input type="checkbox" name="privacy" [(ngModel)]="contactFormData.privacy" required class="mr-2" />
                    <label class="font-medium text-brand-gray-hover">I have taken note of the <a
                            href="/footer-components/imprint" class="underline">privacy
                            policy</a>.</label>
                </div>

                <button type="submit" [disabled]="!contactForm.valid"
                    class="bg-red-700 text-white py-2 px-6 rounded-lg hover:bg-red-800 transition  cursor-pointer">

                    <div class="flex items-center justify-center"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="currentColor">
                            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
                        </svg>
                        <p class="p-1">Submit</p>
                    </div>
                </button>
            </form>
            <div class="mt-4 mb-4">
                If you want to submit your machine, click here.
            </div>
        </div>
    </div>
</div>