
@import "tailwindcss";
@theme {
  --color-brand-gray:#a3a3a3; 
  --color-brand-red:#c01010;  
  --color-brand-white:#f8f8f8;
  --color-brand-gray-hover: #707070;
  --color-brand-tabs-hover:#ebebeb;
  --color-brand-black:#333333;  
  --color-brand-inputfield:#ffffff;
  --color-brand-dark-red:#be1010;
}

.btn-primary {
  @apply px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600;
}

.gray-brand {
  @apply text-brand-gray;

}
.gray-brand:hover {
  color: var(--color-brand-gray-hover);
}

.btn-primary {
    @apply px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600;
}

.footer-buttons {
    @apply text-[#BBBEC7BA]
}

.footer-signuptext {
    @apply text-[#BBBEC7BA] mb-4
}

.footer-signupbutton {
    @apply text-[#BBBEC7] bg-[#3D4051] py-[8px] px-[18px]
}

.footer-signupbutton:hover {
    @apply text-[#FFFFFF] bg-[#494D62]
}

.footer-buttons:hover {
    @apply text-[#CCCED9]
}

.alignment-listitem {
    @apply leading-[2];

}

.footer-bottomtext {
    @apply text-center text-[#BBBEC7BA] text-[14px] font-light mt-8
}

.complete-solutiontext {
    @apply text-[#3333333] text-[32px] font-bold leading-[1.7]
}

.solutionexplain-paratext {
    @apply text-[#666666] mb-[12px] text-[17px] leading-[1.7]
}

.listitem-headingtext {
    @apply text-[#333333] text-[27px] font-semibold mb-[12px];
}

.contantus-button {
    @apply rounded-[6px] py-[10px] px-[26px] bg-[#C01010] text-white hover:bg-[#A60D0D] hover:text-white;
}

.new-arrivalstext {
    @apply text-[#333333] text-[32px] font-bold leading-[1.3em] text-center;
}
.productlink-name{
  @apply text-[#333333] font-semibold text-[20px] tracking-normal leading-normal mb-5;
}
.establishes-year{
 @apply text-[#666666] text-[17px];
}
.font-semibold{
      @apply font-bold;
}
.alignment-carddetails{
    @apply flex flex-col items-start px-[20px] pb-[28px] pt-[0px];
}
.card-detailsbutton{
  @apply text-[#C01010] bg-white border-2 border-[#C01010] py-[9px] px-[27px] rounded-[6px] mt-5
         leading-[1] hover:bg-[#A60D0D] hover:border-[#A60D0D] hover:text-white transition duration-300;
}
.cardsection-alignment{
 @apply bg-white shadow-[5px_5px_20px_15px_rgba(224,224,224,0.2)] 
         transition-[background,border,border-radius,box-shadow] duration-300 
         rounded-[7px];
}
.card-image {
  @apply h-[280px] object-cover rounded-[7px] align-middle inline-block;
}
.alignment-imagetext{
   @apply  mb-[20px]
}
.vewall-machinebutton{
     @apply font-medium text-white bg-[#C01010] rounded-[6px] py-[14px] px-[26px] 
         hover:bg-[#A60D0D] hover:text-white transition duration-300;
}
.global-partnertext{
    @apply text-white text-[50px] font-extrabold leading-[1.4em] tracking-normal;
}
.filling-industrytext{
     @apply text-white text-[17px]
}
.submit-machinebutton{
  @apply font-medium text-white bg-[#3E3939] rounded-[6px] py-[14px] px-[26px] 
         hover:bg-[#605A5A] hover:text-white transition duration-300;
}
  
